:root {
    --red: #e6563b;
    --green: #7cb06c;
    --yellow: #EB9D3A;
    --blue: #00aba9;
}

#design {
    color: #E6563B;
    position: relative;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 8px solid white;
    background: #E6563B;
}

/*.circle {*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*!*display: flex;*!*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*border: 5px solid white;*/
    /*border-radius: 50px;*/
    /*color: white;*/
    /*text-align: center;*/
    /*margin: 1vw;*/
/*}*/

.red {background-color: var(--red);}
.blue {background-color: var(--blue);}
.yellow {background-color: var(--yellow);}
.green {background-color: var(--green);}