:root {
    --bg-info: rgb(204,222,254); /* lightbluish */
    --bg-success: rgb(206,243,219); /* lightgreenish */
    --bg-warning: rgb(252,251,204); /* lightyellowish */
    --bg-error: rgb(251,211,215); /* lightreddish */
    --text-info: darkblue;
    --text-success: green;
    --text-warning: rgb(146,128,41); /* goldish */
    --text-error: rgb(138,35,59); /* reddish */
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 50%;
    height: auto;
    border: 2px solid lightgrey;
    border-radius: 15px;
    padding: 15px 25px;
    margin: 10px;
}

.message-info {
    color: var(--text-info);
    background-color: var(--bg-info);
}

.message-success {
    color: var(--text-success);
    background-color: var(--bg-success);
}

.message-warning {
    color: var(--text-warning);
    background-color: var(--bg-warning);
}

.message-error {
    color: var(--text-error);
    background-color: var(--bg-error);
}