body {
    background-color: #ffe4c4;
}

.fancy-header {
    color: #800080;
    text-decoration: underline;
    text-align: center;
}

.sub-header_styling {
    color: #db7093;
    text-decoration: underline;
}