* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
/*#container {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
.box1 {
    height: 500px;
    width: 500px;
    background-color: darkblue;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    float: left;
}
.box2 {
    height: 250px;
    width: 600px;
    background-color: #FFF;
    border-top: 3px solid black;
    border-right: 3px solid black;
    /*float: left;*/
    position: absolute;
    left: 275px;
}
.box3 {
    height: 250px;
    width: 600px;
    background-color: red;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    /*float: left;*/
    position: absolute;
    left: 275px;
    top: 250px;
}
.five_point_star {
    /*display: block;*/
    /*object-fit: cover;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: auto;*/
    /*height: auto;*/
    transform: scale(.7);
    position: absolute;
    left: -15px;
    top: 80px;
/*}*/
/*.five-point-star {*/
    /*position: relative;*/
    /*display: block;*/
    /*margin: 72px 0;*/
    /*width: 0px;*/
    /*height: 0px;*/
    /*border-right: 120px solid transparent;*/
    /*border-bottom: 90px solid green;*/
    /*border-left: 120px solid transparent;*/
    /*-webkit-transform: rotate(37deg);*/
    /*-moz-transform: rotate(37deg);*/
    /*-ms-transform: rotate(37deg);*/
    /*-o-transform: rotate(37deg);*/
    /*transform: rotate(37deg);*/
/*}*/

/*.five-point-star:before {*/
    /*position: absolute;*/
    /*display: block;*/
    /*width: 0;*/
    /*height: 0;*/
    /*top: -56px;*/
    /*left: -72px;*/
    /*content: "";*/
    /*border-bottom: 84px solid green;*/
    /*border-left: 28px solid transparent;*/
    /*border-right: 28px solid transparent;*/
    /*-webkit-transform: rotate(323deg);*/
    /*-moz-transform: rotate(323deg);*/
    /*-ms-transform: rotate(323deg);*/
    /*-o-transform: rotate(323deg);*/
    /*transform: rotate(323deg);*/
/*}*/

/*.five-point-star:after {*/
    /*position: absolute;*/
    /*display: block;*/
    /*width: 0px;*/
    /*height: 0px;*/
    /*top: 0;*/
    /*left: -120px;*/
    /*content: "";*/
    /*border-right: 120px solid transparent;*/
    /*border-bottom: 90px solid green;*/
    /*border-left: 120px solid transparent;*/
    /*-webkit-transform: rotate(286deg);*/
    /*-moz-transform: rotate(286deg);*/
    /*-ms-transform: rotate(286deg);*/
    /*-o-transform: rotate(286deg);*/
    /*transform: rotate(286deg);*/
/*}*/

/*#star{*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-style: solid;*/
    /*border-width: 0 100px 100px 100px;*/
    /*border-color: transparent transparent purple transparent;*/
/*}*/
/*#star {*/
    /*margin: 50px 0;*/
    /*position: relative;*/
    /*display: block;*/
    /*color: purple;*/
    /*width: 0px;*/
    /*height: 0px;*/
    /*border-right: 100px solid transparent;*/
    /*border-bottom: 70px solid purple;*/
    /*border-left: 100px solid transparent;*/
    /*-moz-transform: rotate(35deg);*/
    /*-webkit-transform: rotate(35deg);*/
    /*-ms-transform: rotate(35deg);*/
    /*-o-transform: rotate(35deg);*/
/*}*/
/*#star:before {*/
    /*border-bottom: 80px solid purple;*/
    /*border-left: 30px solid transparent;*/
    /*border-right: 30px solid transparent;*/
    /*position: absolute;*/
    /*height: 0;*/
    /*width: 0;*/
    /*top: -45px;*/
    /*left: -65px;*/
    /*display: block;*/
    /*content: '';*/
    /*-webkit-transform: rotate(-35deg);*/
    /*-moz-transform: rotate(-35deg);*/
    /*-ms-transform: rotate(-35deg);*/
    /*-o-transform: rotate(-35deg);*/

/*}*/
/*#star:after {*/
    /*position: absolute;*/
    /*display: block;*/
    /*color: purple;*/
    /*top: 3px;*/
    /*left: -105px;*/
    /*width: 0px;*/
    /*height: 0px;*/
    /*border-right: 100px solid transparent;*/
    /*border-bottom: 70px solid purple;*/
    /*border-left: 100px solid transparent;*/
    /*-webkit-transform: rotate(-70deg);*/
    /*-moz-transform: rotate(-70deg);*/
    /*-ms-transform: rotate(-70deg);*/
    /*-o-transform: rotate(-70deg);*/
    /*content: '';*/
/*}*/