* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.box1 {
    height: 500px;
    width: 500px;
    background-color: darkblue;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    float: left;
}
.box2 {
    height: 250px;
    width: 600px;
    background-color: #FFF;
    border-top: 3px solid black;
    border-right: 3px solid black;
    /*float: left;*/
    position: absolute;
    left: 275px;
}
.box3 {
    height: 250px;
    width: 600px;
    background-color: red;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    /*float: left;*/
    position: absolute;
    left: 275px;
    top: 250px;
}
.five_point_star {
    transform: scale(.7);
    position: absolute;
    left: -15px;
    top: 80px;
}
